body{
    font-family: "Poppins" , sans-serif;
}
.container{
    text-align: center;
    margin-top: 100px;
}
.container .text{
    font-size: 48px;
    color: rgb(9 , 181 ,238);
}
.container h1{
    font-size: 65px;
}